* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.heading {
	padding: 10px;
	margin: 5px 0 18.72px 0;
	font-family: Comic Sans MS, cursive, sans-serif;
}

.paragraph {
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
	text-align: justify;
}

.bdg-sect {
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: Helvetica, serif;
	background-color: #4ac7d3;
	color: #ffffff;
	padding: 31px 0 50px 0;
}

body {
	background-color: #ffffff;
}

.navbar-items-c {
	display: inline-block;
	float: right;
}

.navbar {
	color: #ddd;
	min-height: 50px;
	width: 100%;
	background-color: #66c8cd;
}

.navbar-container {
	max-width: 950px;
	margin: 0 auto;
	width: 95%;
}

.navbar-container::after {
	content: "";
	clear: both;
	display: block;
}

.navbar-brand {
	vertical-align: top;
	display: inline-block;
	padding: 5px;
	min-height: 50px;
	min-width: 50px;
	color: inherit;
	text-decoration: none;
	font-family: Comic Sans MS, cursive, sans-serif;
	float: none;
	font-size: 27px;
	opacity: 1;
	border-radius: 0 0 0 0;
	border: none rgb(221, 221, 221);
	position: relative;
	right: 0;
}

.navbar-menu {
	padding: 10px 0;
	display: block;
	float: right;
	margin: 0;
}

.navbar-menu-link {
	margin: 0;
	color: inherit;
	text-decoration: none;
	display: inline-block;
	padding: 10px 15px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

.navbar-burger {
	margin: 10px 0;
	width: 45px;
	padding: 5px 10px;
	display: none;
	float: right;
	cursor: pointer;
}

.navbar-burger-line {
	padding: 1px;
	background-color: white;
	margin: 5px 0;
}

.row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
	padding: 10px;
}

.cell {
	min-height: 75px;
	flex-grow: 1;
	flex-basis: 100%;
}

#iot255 {
	height: 414px;
	width: 1135.922px;
	transition: width 2s linear, width 2s ease;
}

#ix1foz {
	flex-basis: 30%;
}

#immpkj {
	flex-basis: 70%;
}

#i23b6i {
	background-color: #e6d7d7;
	background-image: url("./images/box2image.jpg");
	background-repeat: repeat;
	background-position: left top;
	background-attachment: scroll;
	background-size: auto;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 992px) {
	#iot255 {
		width: 747px;
		height: 393px;
	}
}

@media (max-width: 768px) {
	.navbar-burger {
		display: block;
	}
	.navbar-items-c {
		display: none;
		width: 100%;
	}
	.navbar-menu {
		width: 100%;
	}
	.navbar-menu-link {
		display: block;
	}
	.row {
		flex-wrap: wrap;
	}
}

@media (max-width: 480px) {
	#iot255 {
		height: 391px;
		width: 299px;
	}
	#ijfs9y {
		display: inline-block;
		padding: 5px;
		min-height: 50px;
		min-width: 50px;
	}
}
